
@{
    ViewBag.Title = "ManageCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ManageCategory</h2>
@*@foreach(var category in Model)
{
@category.CategoryId

}*@


<table style="width:100% ;text-align:left">
        <tr>
            <th>CategoryId</th>
            <th>CategoryName</th>
        </tr>
@foreach (var category in Model)
{
        <tr>
            <td>@category.CategoryId</td>
            <td>@category.CategoryName</td>

        </tr>
}
    </table>






@Html.ActionLink("Home", "Index", "ProductAdmin", routeValues: null, htmlAttributes: new { @class = "nav-link-6 signup w-nav-link" })